@use "./mixin";

.section-3 h2{
    margin-top: 0;
}

.card:first-child{
    margin-top: 5em;
}

.card + .card{
    margin-top: 4em;
}

.card__image{
    width: 45px;
    margin: 0 auto 2em auto;
}

@include mixin.screenMinWidthStyle($break-point-1){

    .card{
        max-width: 380px;
    }
    
    .card:first-child, .card + .card{
        margin-top: 0;
    }

    .workflow{
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 2em;
        flex-wrap: wrap;
        margin-top: 4em;
    }

    .workflow > *{
        flex: 1 1 33.33%;
    }
}